<div class="container-fluid">
  
  <!-- Logo -->
  <div class="custom-navbar">
    <img id="logo" src="assets/logo.png"/>
    <h1>
      Dispersion App
      <div class="custom-border-bottom"></div>
    </h1>
  </div>

  <div class="row mt-4">

    <!-- Operator -->
    <div class="col-2">
      <mat-card class="operator-container shadow-lg">

        <div class="button-container">
          <button mat-fab>
            <mat-icon svgIcon="next"></mat-icon>
          </button>
        </div>
        <div class="button-container">
          <button mat-fab>
            <mat-icon svgIcon="play"></mat-icon>
          </button>
        </div>
        <div class="button-container">
          <button mat-fab>
            <mat-icon svgIcon="pause"></mat-icon>
          </button>
        </div>
        <div class="button-container">
          <button mat-fab>
            <mat-icon svgIcon="reset"></mat-icon>
          </button>
        </div>
        <div class="button-container">
          <button mat-fab>
            <mat-icon svgIcon="settings"></mat-icon>
          </button>
        </div>

      </mat-card>
    </div>

    <!-- Simulator -->
    <div class="col-8">
      <mat-card id="vis-container" class="simulator-container shadow-lg">
      </mat-card>
    </div>

    <!-- Statistics -->
    <div class="col-2">
      <div class="custom-panel shadow-lg">
        <h1>Status</h1>
        <div class="panel-value-container">
          <span class="panel-value">--</span>
        </div>
      </div>
      <div class="custom-gap"></div>
      <div class="custom-panel shadow-lg">
        <h1>Steps</h1>
        <div class="panel-value-container">
          <span class="panel-value">--</span>
        </div>
      </div>
      <div class="custom-gap"></div>
      <div class="custom-panel shadow-lg">
        <h1>Runtime</h1>
        <div class="panel-value-container">
          <span class="panel-value">--</span>
        </div>
      </div>
      <div class="custom-gap"></div>
      <div class="custom-panel shadow-lg">
        <h1>Timer</h1>
        <div class="panel-value-container">
          <span class="panel-value">--</span>
        </div>
      </div>
    </div>
  </div>

</div>