<div class="container-fluid">

  <!-- Logo -->
  <div class="custom-navbar">
    <img id="logo" src="assets/logo.png"/>
    <h1>
      Dispersion App
      <div class="custom-border-bottom" *ngIf="!loading"></div>
      <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
    </h1>
  </div>

  <div class="row mt-4">

    <!-- Operator -->
    <div class="col-2">
      <mat-card class="operator-container shadow-lg">

        <div class="button-container">
          <button mat-fab matTooltip="Next" (click)="stepSimulator()" [class.disabled]="visService.startNodeID === 0 || this.currentStatus === 'FINISHED' || PLAY" [disabled]="visService.startNodeID === 0 || this.currentStatus === 'FINISHED'  || PLAY">
            <mat-icon svgIcon="next"></mat-icon>
          </button>
        </div>
        <div class="button-container">
          <button mat-fab matTooltip="Play" (click)="playSimulator()" [class.disabled]="visService.startNodeID === 0 || this.currentStatus === 'FINISHED'  || PLAY" [disabled]="visService.startNodeID === 0 || this.currentStatus === 'FINISHED'  || PLAY">
            <mat-icon svgIcon="play"></mat-icon>
          </button>
        </div>
        <div class="button-container">
          <button mat-fab matTooltip="Pause" (click)="stopSimulator()" [class.disabled]="visService.startNodeID === 0 || this.currentStatus === 'FINISHED'" [disabled]="visService.startNodeID === 0 || this.currentStatus === 'FINISHED'">
            <mat-icon svgIcon="pause"></mat-icon>
          </button>
        </div>
        <div class="button-container">
          <button mat-fab matTooltip="Reset" (click)="resetNetwork()" [class.disabled]="PLAY" [disabled]="PLAY">
            <mat-icon svgIcon="reset"></mat-icon>
          </button>
        </div>
        <div class="button-container">
          <button mat-fab matTooltip="Configure" (click)="configureNetwork()" [class.disabled]="PLAY" [disabled]="PLAY">
            <mat-icon svgIcon="settings"></mat-icon>
          </button>
        </div>

      </mat-card>
    </div>

    <!-- Simulator -->
    <div class="col-8">
      <mat-card id="vis-container" class="simulator-container shadow-lg">
      </mat-card>
    </div>

    <!-- Statistics -->
    <div class="col-2">
      <div class="custom-panel shadow-lg">
        <h1>Status</h1>
        <div class="panel-value-container">
          <span class="panel-value">{{currentStatus}}</span>
        </div>
      </div>
      <div class="custom-gap"></div>
      <div class="custom-panel shadow-lg">
        <h1>Steps</h1>
        <div class="panel-value-container">
          <span class="panel-value">{{steps}}</span>
        </div>
      </div>
      <div class="custom-gap"></div>
      <div class="custom-panel shadow-lg">
        <h1>Runtime</h1>
        <div class="panel-value-container">
          <span class="panel-value">{{RTT}} ms</span>
        </div>
      </div>
      <div class="custom-gap"></div>
      <div class="custom-panel shadow-lg">
        <h1>Delay - {{delay}} ms</h1>
        <div class="panel-value-container">
          <mat-slider
          color="primary"
          [step]="50"
          [min]="200"
          [max]="2000"
          [(ngModel)]="delay"
          [thumbLabel]="true"
          ></mat-slider>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4 information-row" *ngIf="simulationState.robotGroup?.robots">
    <div class="col-2">

    </div>
    <div class="col-8">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="node">
          <th mat-header-cell *matHeaderCellDef> Node </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.settled"> -- </span>
            <span *ngIf="!element.settled"> {{ simulationState.robotGroup?.nodeID }} </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="phase">
          <th mat-header-cell *matHeaderCellDef> Phase </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.settled"> -- </span>
            <span *ngIf="!element.settled && simulationState.robotGroup?.forwardState"> Forward </span>
            <span *ngIf="!element.settled && !simulationState.robotGroup?.forwardState"> Backwards </span>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> 
            <span *ngIf="element.settled" style="color: lightgreen">Settled</span>
            <span *ngIf="!element.settled" style="color: lightsalmon">Searching</span>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      
    </div>
    <div class="col-2">
      
    </div>
  </div>

</div>
