<div class="container-fluid">
  
  <!-- Logo -->
  <div class="custom-navbar">
    <img id="logo" src="assets/logo.png"/>
    <h1>
      Dispersion App
      <div class="custom-border-bottom" *ngIf="!loading"></div>
      <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
    </h1>
  </div>

  <div class="row mt-4">

    <!-- Operator -->
    <div class="col-2">
      <mat-card class="operator-container shadow-lg">

        <div class="button-container">
          <button mat-fab matTooltip="Next" (click)="stepSimulator()" [class.disabled]="visService.startNodeID === 0" [disabled]="visService.startNodeID === 0">
            <mat-icon svgIcon="next"></mat-icon>
          </button>
        </div>
        <div class="button-container">
          <button mat-fab matTooltip="Play" (click)="playSimulator()" [class.disabled]="visService.startNodeID === 0" [disabled]="visService.startNodeID === 0">
            <mat-icon svgIcon="play"></mat-icon>
          </button>
        </div>
        <div class="button-container">
          <button mat-fab matTooltip="Pause" (click)="stopSimulator()" [class.disabled]="visService.startNodeID === 0" [disabled]="visService.startNodeID === 0">
            <mat-icon svgIcon="pause"></mat-icon>
          </button>
        </div>
        <div class="button-container">
          <button mat-fab matTooltip="Reset" (click)="resetNetwork()">
            <mat-icon svgIcon="reset"></mat-icon>
          </button>
        </div>
        <div class="button-container">
          <button mat-fab matTooltip="Configure" (click)="configureNetwork()">
            <mat-icon svgIcon="settings"></mat-icon>
          </button>
        </div>

      </mat-card>
    </div>

    <!-- Simulator -->
    <div class="col-8">
      <mat-card id="vis-container" class="simulator-container shadow-lg">
      </mat-card>
    </div>

    <!-- Statistics -->
    <div class="col-2">
      <div class="custom-panel shadow-lg">
        <h1>Status</h1>
        <div class="panel-value-container">
          <span class="panel-value">{{currentStatus}}</span>
        </div>
      </div>
      <div class="custom-gap"></div>
      <div class="custom-panel shadow-lg">
        <h1>Steps</h1>
        <div class="panel-value-container">
          <span class="panel-value">{{steps}}</span>
        </div>
      </div>
      <div class="custom-gap"></div>
      <div class="custom-panel shadow-lg">
        <h1>Runtime</h1>
        <div class="panel-value-container">
          <span class="panel-value">--</span>
        </div>
      </div>
      <div class="custom-gap"></div>
      <div class="custom-panel shadow-lg">
        <h1>Delay - {{delay}} ms</h1>
        <div class="panel-value-container">
          <mat-slider
          color="primary"
          [step]="50"
          [min]="200"
          [max]="2000"
          [(ngModel)]="delay"
          [thumbLabel]="true"
          ></mat-slider>
        </div>
      </div>
    </div>
  </div>

</div>