/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { 
    height: 100%;
    background-color: #202020;
}

body { 
    margin: 0; 
}

* {
    font-family: 'Nunito', sans-serif !important;
}

.success-snackbar {
    background-color: green;
    color: white;
}
  
.error-snackbar {
    background-color: red;
    color: white;
}

.warning-snackbar {
    background-color: orange;
    color: white;
}

.mat-simple-snackbar {
    button {
        color: white !important;
    }
}